* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  text-decoration-style: none;
  text-decoration: none;
}

.logo__text {
  color: rgb(255, 241, 163);
  font-size: 30px;
  text-decoration: none;
}

.topbar {
  padding: 20px;
  background: rgba(0, 0, 0, 0.562);
  align-content: center;
  display: flex;
}

.logIn__button {
  position: absolute;
  color: white;
  background: rgb(230, 135, 11);
  padding: 10px;
  margin-left: 85em;
  width: 90px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
